# Spotify API credentials
SPOTIPY_CLIENT_ID=c95a659571c741b6881c825f00023956
SPOTIPY_CLIENT_SECRET=1d0eded87ff549c585e77754fa2a16fe
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback

# RaccoonBeats API credentials (if needed)
RACCOONBEATS_API_KEY=your_api_key_here 